/SX-merged.tiff
/TCb1-merged.tiff
/TCb2-merged.tiff
/TCb3-merged.tiff
/TMw-merged.tiff
/TNg-merged.tiff
/TNw-merged.tiff
/Fin__Base_Q_Surface_final_29_7.tif
/Fin_Q__Q-1-base_Q-1-base.tif
/Fin_Q__Q-1-base_Q-1-top.tif
/Fin_Q__Q-1-base_Q-2-base.tif
/Fin_Q__Q-1-base_Q-2-top.tif
/Fin_Q__Q-1-base_Q-3-base.tif
/Fin_Q__Q-1-base_Q-3-top.tif
/Fin_Q__Q-1-base_Q-5-base.tif
/Fin_Q__Q-1-base_Q-5-top.tif
/Fin_Q__Q-1-base_Q-6-base.tif
/Fin_Q__Q-1-base_Q-6-top.tif
/orig
