active_scrappers:
  - name: hlavo-surface-forecast
    crons:
      - "15 1  * * *"
      - "45 9 * * *"
      - "15 13 * * *"
      - "45 20 * * *"
    url: "https://api.met.no/weatherapi/locationforecast/2.0/complete"
    schema_path: schemas/hlavo_surface_schema.yaml
    dataset_name: "yr.no"
    extract_fn: normalize_yrno_forecast
    fn_module: inputs.extract.hlavo_extract
    method: GET
    headers:
      - header_name: "User-Agent"
        header_value: "MyWeatherApp/1.0 (your_email@example.com)"
    url_params:
      - param_name: lat
        column_name: dflat
      - param_name: lon
        column_name: dflon
    dataframe_path: dataframes/hlavo_surface_dataframe.csv
    dataframe_has_header: true
