/Orez-_Q-1-base.tif
/Orez-_Q-1-top.tif
/Orez-_Q-2-base_16183.tif
/Orez-_Q-2-base_17956.tif
/Orez-_Q-2-top_16184.tif
/Orez-_Q-2-top_18008.tif
/Orez-_Q-2-top_18131.tif
/Orez-_Q-2-top_18154.tif
/Orez-_Q-3-base.tif
/Orez-_Q-3-top.tif
/Orez-_Q-5-base.tif
/Orez-_Q-5-top.tif
/Orez-_Q-6-base_16190.tif
/Orez-_Q-6-base_18176.tif
/Orez-_Q-6-top_16191.tif
/Orez-_Q-6-top_18218.tif
