/DEM_Turow_10m_resample.tif
/DEM_Turow_10m_resample.tif.aux.xml
/DEM_Turow_10m_resample.tif.ovr
/DEM_Turow_10m_resample.tif.xml
/Final_Gridy_Ondra
/Ohraniceni_modelu_nove.gpkg
/Rozsah_interpolovanych_oblasti.gpkg
/Rozsah_interpolovanych_oblasti_posttekt.gpkg
/Rozsah_interpolovanych_oblasti_syntekt.gpkg
/Rozsahy_hornin_pro_interpolace.gpkg
/Vrty_z_xlsm_do_interpolace.gpkg
/Vymezeni_oblasti_NESAT_2023_05_12.gpkg
