init_pressure: [-40, -100] #[-0.1, -4]   # bottom, top ; [temporary solution]
static_params:
  ComputationalGrid:
    "Lower.Z": -135
    "DZ": 9 #0.2
    "NZ": 15  #, 0] # Number of grid cells in z-direction
  BCPressure_bottom: 0
params:
  vG_K_s: "Geom.domain.Perm.Value"
  vG_n:  ["Geom.domain.Saturation.N", "Geom.domain.RelPerm.N"]
  vG_Th_s: "Geom.domain.Saturation.SSat"
  vG_Th_r: "Geom.domain.Saturation.SRes"
  vG_alpha: ["Geom.domain.Saturation.Alpha", "Geom.domain.RelPerm.Alpha"]


