/ALADCZ1K4opendata_2026020800_CLPVEIND_MOD_XFU.grb.bz2
/ALADCZ1K4opendata_2026020800_CLSDEW_P_TEMPER.grb.bz2
/ALADCZ1K4opendata_2026020800_CLSHUMI_RELATIVE.grb.bz2
/ALADCZ1K4opendata_2026020800_CLSMAXI_TEMPERAT.grb.bz2
/ALADCZ1K4opendata_2026020800_CLSMINI_TEMPERAT.grb.bz2
/ALADCZ1K4opendata_2026020800_CLSRAFAL_MOD_XFU.grb.bz2
/ALADCZ1K4opendata_2026020800_CLSTEMPERATURE.grb.bz2
/ALADCZ1K4opendata_2026020800_CLSTPRIM_W.grb.bz2
/ALADCZ1K4opendata_2026020800_CLSWIND_DIREC.grb.bz2
/ALADCZ1K4opendata_2026020800_CLSWIND_SPEED.grb.bz2
/ALADCZ1K4opendata_2026020800_MSLPRESSURE.grb.bz2
/ALADCZ1K4opendata_2026020800_PRECIP_TYPE.grb.bz2
/ALADCZ1K4opendata_2026020800_SUNSHINE_DUR.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFNEBUL_BASSE.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFNEBUL_HAUTE.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFNEBUL_MOYENN.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFNEBUL_TOTALE.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFPREC_TOTAL.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFRAINFALL.grb.bz2
/ALADCZ1K4opendata_2026020800_SURF_RAYT_DIR.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFRESERV_NEIGE.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFRF_LONG_DO.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFRF_SHORT_DO.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFSNOWFALL.grb.bz2
/ALADCZ1K4opendata_2026020800_SURFTEMPERATURE.grb.bz2
/ALADCZ1K4opendata_2026020900_CLPVEIND_MOD_XFU.grb.bz2
/ALADCZ1K4opendata_2026020900_CLSHUMI_RELATIVE.grb.bz2
/ALADCZ1K4opendata_2026020900_CLSTEMPERATURE.grb.bz2
