name: Ingress server - push main
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  build-and-deploy:
    uses: GeoMop/zarr_fuse/.github/workflows/ingress-server-reusable-workflow.yaml@SM-CI-outside-repository
    with:
      deploy: true
      tag: generate
      namespace: hlavo-ingress-server
      release-name: hlavo-ingress-server
      s3-store-url: s3://app-databuk-test-service/hlavo.zarr
      configuration-dir-path: data_processing/ingress/inputs
      docker-repository: jbrezmorf/hlavo-ingress-server
      docker-registry: docker.io
      extra-helm-args: >-
        --set image.name="jbrezmorf/hlavo-ingress-server"
    secrets: inherit
