name: Ingress server - push tag
on:
  pull_request: # TODO: remove after testing
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - "inputs/**"

jobs:
  build-and-deploy:
    uses: GeoMop/zarr_fuse/.github/workflows/ingress-server-reusable-workflow.yaml@SM-CI-outside-repository
    with:
      deploy: true
      tag: generate
      namespace: hlavo-ingress-server
      release-name: hlavo-ingress-server
      s3-store-url: s3://app-databuk-test-service/hlavo.zarr
      configuration-dir-path: inputs
      docker-repository: jbrezmorf/hlavo-ingress-server
      docker-registry: docker.io
    secrets: inherit
